<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371368881080-ooemlgut7blb3ta867kgdf0or1p1cka2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371368881080-ooemlgut7blb3ta867kgdf0or1p1cka2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>371368881080-6odhiv5ap10t04ea3ha6j2fr6qvcdjtf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1-RG2t3_kyrHNFjDkEH10eKlHRXPg1AE</string>
	<key>GCM_SENDER_ID</key>
	<string>371368881080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rexomiv.bookv</string>
	<key>PROJECT_ID</key>
	<string>tevcab-3827b</string>
	<key>STORAGE_BUCKET</key>
	<string>tevcab-3827b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371368881080:ios:07feca05bcb5b5b168bd4d</string>
	<key>DATABASE_URL</key>
	<string>https://tevcab-3827b-default-rtdb.firebaseio.com</string>
</dict>
</plist>