<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57624497746-45fqveg3vs2b5vmrigq5ter9696rfack.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57624497746-45fqveg3vs2b5vmrigq5ter9696rfack</string>
	<key>API_KEY</key>
	<string>AIzaSyA5wIawgBlADQD13UCSR7sgTl_poW8a1qg</string>
	<key>GCM_SENDER_ID</key>
	<string>57624497746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rexomiv.bookv</string>
	<key>PROJECT_ID</key>
	<string>book-v</string>
	<key>STORAGE_BUCKET</key>
	<string>book-v.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57624497746:ios:cafa566d47e1d1ae84598b</string>
</dict>
</plist>